language: csharp
solution: MyGame.sln
install:
  - travis_retry nuget restore -source "https://www.nuget.org/api/v2" MyGame.sln
script:
  - mono ./testrunner/NUnit.Runners.2.6.4/tools/nunit-console.exe bin/Debug/Team02CR.Tests.dll
