language: csharp
solution: MyGame.sln
install:
  - nuget restore MyGame.sln
  - nuget install NUnit.Runners -Version 2.6.4 -OutputDirectory testrunner
script:
  - xbuild MyGame.sln
  - mono ./testrunner/NUnit.Runners.2.6.4/tools/nunit-console.exe bin/Debug/Team02CR.Tests.dll
